@charset "utf-8";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main: 16px;
  --color-text: rgb(227 226 220 / 86%);
  --color-bg: #080808;
  --color-link: rgb(227 226 220 / 86%);
  --color-link-hover: rgb(227 226 220 / 100%);
  --page-padding: 1.5rem;

  --cursor-fill: none;
  --cursor-stroke-width: 1px;

  --grid-item-translate: 0px;

  --grid-item-ratio: 0.7;
  --grid-item-radius: 0;
  --grid-gap: 0.75vw;
  --grid-columns: 4;

  --main-font: "scale-variable", "Wanted Sans", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Seg` UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --info-font: "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Seg` UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

html {
  padding: env(safe-area-inset);
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  font-variation-settings: "wdth" 120, "wght" 200;
  font-weight: 400;

  font-variant-ligatures: discretionary-ligatures;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;

  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-size: var(--main);
  line-height: calc(var(--main) * 1.58);
  letter-spacing: -0.125px;

  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url(../images/noise.png);
  background-size: 200px;

  cursor: default;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  place-items: center;

  transition: filter 0.25s ease-in-out;
}

body.flipbook-overflow-hidden main,
body.flipbook-overflow-hidden .thumb-container {
  overflow: hidden;
  touch-action: none;
}

header {
  display: flex;
  justify-content: center;

  width: 100%;

  position: fixed;
  transform: translateX(-50%);
  top: 0;
  left: 50%;

  opacity: 1;

  mix-blend-mode: difference;

  z-index: 10001;
}

header .header__bg {
  position: fixed;
  top: -2rem;

  width: 100%;
  height: 6rem;
  z-index: -1;

  background-image: linear-gradient(to bottom, #ffffffbb, transparent);

  mask-image: linear-gradient(white 10%, transparent);
  -webkit-mask-source-type: auto;
  -webkit-mask-position-x: 0%;
  -webkit-mask-position-y: 0%;
  mask-size: auto;
  mask-repeat: repeat;
  mask-origin: border-box;
  -webkit-mask: linear-gradient(white 10%, transparent);

  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
  opacity: 0.65;

  transition: opacity 0.125s;
}

a:hover {
  text-decoration: none;
  color: var(--color-link-hover);
  outline: none;
  opacity: 1;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid red;
}

/* loading */
/* 
================================================== */

section.loading {
  display: flex;

  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #060606;

  z-index: 1000001 !important;
  cursor: pointer;
}

section.loading .logo {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 33.33%;
  left: 50%;

  width: 5rem;
  height: 5rem;

  animation: gif 2s 4 steps(117);
}

section.loading .loading-text {
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: calc(33.33% + 3rem);

  text-align: center;
  font-variation-settings: "wdth" 125, "wght" 290;
  font-size: 0.875rem;
  line-height: 1.35;
}

/* Content */
/* 
================================================== */

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.type-small {
  font-size: 13px;
  font-family: "iki-mono-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 300;
  text-transform: uppercase;
}

.content__title.type-small {
  display: flex;
  align-items: center;

  /* font-family: var(--main-font); */
  /* letter-spacing: .2px; */
  font-variation-settings: "wdth" 100, "wght" 230;
  line-height: 1.2;
  padding: 0.25rem 0.5rem 0.1rem 0.5rem;

  border-radius: 2px;
  background: #ffffff25;
  background: color(display-p3 1 0.2 0.5 / 0.8);
}

.card__title.type-small {
  font-family: inherit;
  font-size: 1rem;

  padding-top: 0.75rem;
}

.card__title span {
  opacity: 0.8;
}
.card__title a {
  text-transform: initial;
  opacity: 1;
}

.frame {
  position: relative;
  display: grid;
  z-index: 800;
  width: 100%;
  height: 100%;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
}

.frame--header {
  grid-template-columns: auto auto auto auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title back archive github sponsor";
}

.frame--footer {
  margin: 15vh 0 0;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.frame--footer.type-small {
  font-size: 0.75rem;
}

.frame--footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;

  line-height: 1.65;
}

.frame--footer a {
  display: inline-block;
  line-height: 1;
}

.frame--footer div.link {
  width: 100%;
  flex-direction: column;

  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.frame--footer div.link > a {
  display: block;
  line-height: 1.85;
}

.frame--footer div.link > a > span {
  font-family: var(--info-font);
  font-size: 0.625rem;

  padding: 2px 4px;

  border-radius: 2px;
  background: #ffffff30;

  margin-right: 0.5rem;
}

.frame #cdawrap,
.frame__sub {
  justify-self: end;
}

.frame #cdawrap {
  justify-self: start;
}

.frame a {
  pointer-events: auto;
}

.frame--footer span .frame__title {
  grid-area: title;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.frame__back {
  grid-area: back;
  justify-self: start;
}

.frame__archive {
  grid-area: archive;
  justify-self: start;
}

.frame__sub {
  grid-area: sub;
}

.frame__github {
  grid-area: github;
}

.tags {
  display: flex;
  gap: 0.375rem;
  margin-bottom: 2rem;
}

.tags a {
  padding: 0.2rem 0.25rem;

  background: #fff;
  color: #000;
  border-radius: 1.5px;

  font-family: var(--info-font);
  font-weight: 500;
  letter-spacing: -0.25px;
  line-height: 1;

  text-wrap: nowrap;
}

.tags.type-small a {
  font-size: 0.625rem;
}

.frame__demos {
  grid-area: demos;
  display: flex;
  gap: 1rem;
}

.intro {
  display: grid;
  place-items: center;

  position: relative;
  padding: var(--page-padding);

  line-height: 1;
  min-height: calc(100vh - 6rem);

  justify-content: center;
  align-items: center;
}

.intro__heading {
  display: grid;
  gap: 1rem;
}

.intro__heading h2 {
  font-size: clamp(2rem, 7vw, 4rem);
  font-family: "scale-variable", sans-serif;
  font-variation-settings: "wdth" 125, "wght" 200;
  width: 70vw;
  max-width: 1000px;
  min-width: 300px;
  margin: 0;

  /* mix-blend-mode: difference; */

  z-index: 1;
}

.intro__heading p {
  margin: 0;
  max-width: 200px;
  justify-self: end;
  text-align: justify;
  margin-top: 20vh;

  font-family: var(--info-font);
  text-transform: initial;

  /* mix-blend-mode: difference; */

  z-index: 1;
}

.intro__popup {
  opacity: 0;

  position: fixed;
  transform: translateX(-50%);

  left: 50%;
  bottom: 0.5rem;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  /* background: color(display-p3 0 1 0 / 0.7); */
  background: #ffffff1a;
  padding: 0.5rem 0.375rem 0.375rem;
  border-radius: 1.5px;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  z-index: 1000002 !important;
}

.intro__link {
  display: grid;
  grid-template-columns: 1fr 1fr;

  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  gap: 0.375rem;
}

.intro__popup > p {
  font-family: var(--info-font);

  text-transform: capitalize;

  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.intro__popup > p::before {
  content: "";
  position: absolute;
  top: 0.5625rem;
  transform: translateX(-50%);
  left: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: color(display-p3 1 0.2 0.5 / 1);
}

.intro__popup a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  background: #ffffff3d;
  opacity: 1;
  color: #fff;
  padding: 0.375rem 0.5rem 0.2rem;
  border-radius: 1.5px;

  font-size: 0.75rem;
  line-height: 1;

  transition: background 0.125s;
}

.intro__popup a:nth-of-type(1) {
  grid-column: 1 / span 1;
  width: 100%;
}

.intro__popup a:nth-of-type(2) {
  grid-column: 2 / span 1;
  width: 100%;
}

/* .intro__popup a:nth-child(1) {
  background:dodgerblue;
}

.intro__popup a:nth-child(2) {
  background: #ffd700;
  color: #000;
} */

.intro__popup a:hover {
  background: #ffffff68;
}

.intro__popup img {
  max-width: 4rem;
}

.intro__popup a > p {
  padding: 0.375rem 0 0.125rem;
}

.intro__popup a > p > span {
  padding-left: 0.25rem;
}

/* Contents */

.content {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: 5vh;

  position: relative;
  min-height: 100vh;
  place-items: center;
  margin: 20vh 0;
}

.content.about {
  margin: 15vh 0 0;
}

.blur-text {
  width: 70vw;
  max-width: 1000px;
  min-width: 300px;
  line-height: 1.5;

  font-size: clamp(1.5rem, 2.25vw, 3rem);
  /* word-break: keep-all; */
  mix-blend-mode: plus-lighter;
}

.blur-text {
  font-family: var(--info-font);
  letter-spacing: -0.025em;
}

.card-wrap {
  display: grid;

  margin-top: 1rem;

  grid-template-columns: repeat(2, 320px);
  grid-auto-flow: row;
  grid-gap: 4rem;
}

.card-wrap.first {
  padding-bottom: 6vh;
}

.card__image {
  display: block;

  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;

  border-radius: 1.5px;
  background-size: contain;
  background-position: 50% 50%;

  background-color: #0000001f;
  border: 0.5px solid black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  background: url(../images/logo-gif.png) no-repeat 0 0;
  background-size: 11800%;
  animation: gif 2s infinite steps(117);
}

.logo.open {
  animation: none;
}

body.flipbook-overflow-hidden .logo {
  animation: none;
}

@keyframes gif {
  0% {
    background-position: 0%;
  }
  30% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.menu__btn {
  position: fixed;
  top: 0;
  right: 0;

  padding: 1rem 2rem;
  cursor: pointer;
}

.menu__btn__wrap {
  position: relative;
  width: 2rem;
  height: 2rem;

  cursor: pointer;
  transition: opacity 0.25s;
  z-index: 99;
}

.menu__btn__wrap:hover {
  opacity: 0.6;
}

.menu__btn__wrap > span.menu__btn__line {
  position: absolute;
  display: inline-block;

  width: 100%;
  height: 1px;
  left: 0;

  background: #fff;
  transition: all 0.25s;
}

.menu__btn__wrap > span.menu__btn__line:first-of-type {
  top: 0.5rem;
  width: 100%;
}

.menu__btn__wrap > span.menu__btn__line:nth-of-type(2) {
  top: 0.875rem;
  width: 100%;
}

.menu__btn__wrap.is_active > span.menu__btn__line {
  height: 1px;
}

.menu__btn__wrap.is_active > span.menu__btn__line:nth-child(1) {
  left: 0;
  top: 0.75rem;

  transform-origin: center;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.menu__btn__wrap.is_active > span.menu__btn__line:nth-child(2) {
  left: 0;
  top: 0.75rem;

  transform-origin: center;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.menu__contents {
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;

  gap: 0.5rem;

  position: fixed;
  overflow: hidden;

  background: color(display-p3 1 1 1 / 1);
  color: #000;
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  padding: 10vh 1.25rem;

  text-align: center;
  transform: translateY(-80vh);
  transition: transform 0.4s cubic-bezier(0.55, 0.01, 0.35, 0.77);
  transition-delay: 0.125s;
}

.menu__contents.is_active {
  transform: translateY(0) !important;
  transition: transform 0.4s cubic-bezier(0.55, 0.01, 0.35, 0.77);
}

main.open {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.menu__contents > h1 {
  opacity: 0;

  position: absolute;
  bottom: 1rem;

  width: fit-content;

  font-family: var(--info-font);
  font-size: 0.875rem;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: silver;

  transition: all 0.25s ease;
  transition-delay: 0.35s;
}

.menu__contents > li {
  opacity: 0;
  list-style: none;

  transition: all 0.25s ease;
  transition-delay: 0.35s;
}

.menu__contents > li:last-of-type {
  margin-bottom: 1rem;
}

.menu__contents.is_active > h1,
.menu__contents.is_active > li {
  opacity: 1;
  transition: all 0.25s ease;
  transition-delay: 0.35s;
}

.menu__contents > li > a {
  display: block;
  width: 100%;

  font-size: 1.25rem;
  font-variation-settings: "wdth" 105, "wght" 360;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-transform: uppercase;

  /* text-decoration: underline;
  text-underline-position: under; */

  color: #000;
}

.menu__contents > li > a.disabled {
  color: silver;

  cursor: not-allowed;
  pointer-events: none;
}

.menu__contents > li > a > span {
  padding-right: 0.5rem;
}

.menu__contents > li > a > sup {
  font-family: var(--info-font);
  font-size: 0.425rem;
  letter-spacing: 0.125px;
  font-weight: 400;

  top: -0.5rem;
  margin-left: 0.425rem;
  padding: 0.2rem 0.25rem;

  background: color(display-p3 1 0.1 0.3 / 1);
  color: #fff;
  border-radius: 1px;
}

.menu__contents > li > a.disabled > sup {
  opacity: 0.4;
}

.menu__contents hr {
  border: 0;
  border-top: 0.5px solid lightgray;

  margin: 0.5rem 0;
  width: 100%;
}

/* menu swiper */
.swiper {
  width: 20vw;
  height: auto;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.4142;

  object-fit: contain;
  object-position: center;
}

.menu_slide {
}

/* section.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  flex-direction: row;

  justify-content: center;
  align-items: center;
  min-height: 50vh;

  margin: 0 1rem;
}

section.menu a {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 1.5rem;

  color: white;
  background: #ffffff30;
  text-align: center;

  padding: 1rem;
  cursor: pointer;
} */

section.page-title {
  text-align: center;

  margin: 20vh auto 25vh;
}

section.page-title img {
  max-height: 8rem;
}

section.page-title.link {
  margin: 6rem auto 20vh;
}

.thumb-container {
  text-align: center;

  margin: 0 0 15vh;
}

.thumb-container .thumb-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;

  max-width: 1200px;
  margin: 0 auto;

  width: 100%;
  height: auto;
  z-index: 99;
  position: relative;
  text-align: center;
}

main.open .thumb-container .thumb-wrapper {
  pointer-events: none;
}

.thumb-container .thumb,
.skeleton-thumb {
  position: relative;
  display: inline-flex;
  justify-content: end;

  cursor: pointer;

  height: fit-content;
  transform-origin: center;
}

.skeleton-thumb {
  background: #e0e0e0;
  position: relative;
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.thumb-container .thumb:nth-of-type(-n + 3) {
  align-self: end;
}

.thumb-container .thumb#lastet {
  border: 0.5px solid color(display-p3 1 1 1 / 1);
  border-radius: 1.5px 1.5px 0 0;
}

.thumb-container .thumb > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;

  width: 1.5rem;
  height: 100%;
  background: #ffffff26;
  border-right: 1px solid gray;
  /* border-radius: 1.5px 1.5px 0 0; */
  color: silver;
  padding: 0.375rem 0.375rem;

  font-family: var(--info-font);
  font-size: 0.875rem;
  text-align: left;
  writing-mode: vertical-lr;
  line-height: 0.75;
  letter-spacing: 0.375px;
}

.thumb-container .thumb#lastet > p {
  font-weight: 500;

  background-color: rgb(0, 255, 0);
  background-color: color(display-p3 1 1 1 / 1);
  color: #000;
}

.thumb-container .thumb > p.open {
  background: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100001;
  color: black;
  font-size: 2rem;
  flex-direction: column;
}

.thumb-container .thumb > p > span {
}

.thumb-container .thumb > img {
  display: block;
  width: calc(100% - 1.5rem);
  height: 100%;
  object-fit: cover;
}

/* hover, focus */

.thumb-container .thumb {
  -webkit-transition: box-shadow 0.125s ease-in-out;
  -moz-transition: box-shadow 0.125s ease-in-out;
  -ms-transition: box-shadow 0.125s ease-in-out;
  -o-transition: box-shadow 0.125s ease-in-out;
  transition: box-shadow 0.125s ease-in-out;
}

.thumb-container .thumb:hover {
  box-shadow: 0 0 0 1px #fff;
}

.thumb-container .thumb:focus {
  box-shadow: 0 0 0 1px orangered;
}

/* .thumb-container .thumb:hover > p {

} */

.thumb-container .thumb > img {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.thumb-container .thumb:hover img {
  opacity: 0.4;
}

/* Mainpage Gallery CSS */
/* 
================================================== */

.thumbnail_transition {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);

  position: relative;

  width: 100%;
  max-width: 960px;

  margin: 0 auto;
  padding: 10vh 0;
}

.thumbnail_transition h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  font-size: 2rem;
  font-variation-settings: "wdth" 125, "wght" 620;
  letter-spacing: 2px;

  text-align: center;
  text-wrap: nowrap;
  line-height: 1.2;
  color: #fff;

  border-bottom: 3px solid #fff;

  z-index: 1;
}

.thumbnail_transition .column {
  width: 100%;
  position: relative;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 100%;
  will-change: transform;

  opacity: 0.4;
}

.column__item {
  margin: 0;
  position: relative;
  z-index: 1;
}

.column__item-imgwrap {
  width: 100%;
  aspect-ratio: var(--grid-item-ratio);
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: var(--grid-item-radius);
}

.column__item-img {
  position: absolute;
  top: calc(-1 * var(--grid-item-translate));
  left: calc(-1 * var(--grid-item-translate));
  height: calc(100% + var(--grid-item-translate) * 2);
  width: calc(100% + var(--grid-item-translate) * 2);
  background-size: cover;
  background-position: 50% 20%;
  backface-visibility: hidden;
}

/* Members */

.members-container {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  max-width: 960px;
  margin: 0 auto 15vh;
}

.members-wrapper {
  display: flex;
  flex-direction: column;

  gap: 3rem;
  padding-bottom: 6rem;
}

.members-wrapper h1 {
  font-size: 1.75rem;
  font-variation-settings: "wdth" 125, "wght" 275;
}

.members-wrapper ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
  height: auto;

  position: relative;
}

.members-wrapper li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* margin-bottom: 2rem; */
  padding: 0.75rem 0.75rem 0.5rem;
  gap: 1rem;

  background: #ffffff07;
  border-left: 1px solid gray;
}

.members-wrapper li > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.members-wrapper li > figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  gap: 1.5rem;
}

.members-wrapper li > figure > figcaption {
  display: inline-flex;
  flex-direction: column;
  align-items: end;

  gap: 0.5rem;
}

.members-wrapper li > figure > figcaption > small {
  opacity: 0.7;
  line-height: 1.2;

  text-align: right;
}

.members-wrapper h2 {
  font-family: var(--info-font);
  font-size: 1.125rem;
  font-weight: 600;

  padding-bottom: 0.625rem;
}

.members-wrapper p,
.members-wrapper a {
  font-family: var(--info-font);
  font-size: 1rem;
  font-weight: 400;
}

.members-wrapper p {
  width: 24ch;

  word-break: keep-all;
  line-height: 1.5;
}

.members-wrapper p > a {
  display: inline;

  font-size: inherit;
  text-transform: initial;
  line-height: inherit;
}

.members-wrapper a {
  display: inline-block;

  font-size: 90%;
  text-wrap: nowrap;
  text-transform: capitalize;
  line-height: 1.1;

  opacity: 0.7;
}

.members-wrapper a:hover {
  text-decoration: underline;
}

.members-wrapper img {
  width: 7rem;

  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .thumb-container .thumb-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .thumb-container .thumb-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
  }

  .thumb-container .thumb {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 0.5rem;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }

  .menu__btn {
    padding: 0.675rem 1rem;
  }

  .menu__contents {
    padding: 10vh 1.25rem 8vh;
    gap: 0.25rem;

    height: 75vh;
    transform: translateY(-75vh);
  }

  .menu__contents > h1 {
    font-size: 0.75rem;
    margin: 1rem auto 0;
  }

  .menu__contents > li > a {
    font-size: 1rem;
    line-height: 1.6;
  }

  .menu__contents > li > a > sup {
    top: -0.375rem;
    margin-left: 0.375rem;
    font-size: 0.425rem;

    padding: 0.15rem 0.2rem;
  }

  .swiper {
    width: 100%;
  }

  section.page-title {
    margin: 20vh auto 15vh;
  }

  .thumbnail_transition {
    padding: 5vh 0 10vh;
  }

  .thumbnail_transition h1 {
    font-size: 1.375rem;
    letter-spacing: 1px;
  }

  .thumbnail_transition .column {
    opacity: 0.5;
  }

  .blur-text {
    width: initial;
    min-width: 60vw;
    font-size: clamp(1.5rem, 5vw, 3rem);
  }

  .frame {
    grid-row-gap: 0.5rem;
    grid-column-gap: 1rem;
  }

  .frame--header {
    grid-template-columns: 100%;
    grid-template-areas: "title" "archive" "back" "github" "sub" "sponsor";
  }

  .frame--footer {
    grid-template-columns: auto;
    justify-content: start;
  }

  .frame--footer div {
    align-items: start;
  }

  .frame #cdawrap {
    justify-self: start;
  }

  .frame__sub {
    grid-area: sub;
  }
  .frame--footer div.link {
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 0.5px solid dimgray;
  }

  .card-wrap {
    margin-top: 0;
    grid-gap: 3rem;
    grid-template-columns: 67.5vw;
  }

  section.menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap: 0.5rem;
    margin: 0 0.5rem;
  }

  section.menu a {
    padding: 3rem 0.5rem;

    width: initial;
  }

  section.menu a:nth-child(3) {
    grid-column: span 2;
  }

  footer a {
    line-height: 1;
  }

  footer .copyright {
    grid-column: span 2;
  }

  .intro__popup {
    bottom: initial;

    transform: translate(10%, -50%);

    right: 0rem;
    top: calc(62.5% + 1rem);

    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    padding: 0.375rem 0.25rem 0.25rem;
  }

  .intro__popup > p {
    position: fixed;

    transform: translateY(-50%);
    top: 0;
    right: -0.025rem;

    /* padding: 0.5rem 0.625rem; */
    padding: 0.875rem 0.5rem 0.5rem 0.75rem;
    height: 10rem;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: color(display-p3 1 1 1 / 0.8);
    /* background: #f8f8f8ba; */
    /* box-shadow: 0 0 5px 1px #f8f8f8; */
    color: #000;

    font-weight: 500;
    font-size: 0.825rem;
    letter-spacing: -0.2px;

    writing-mode: vertical-lr;
    line-height: 1;
    text-wrap: nowrap;

    cursor: pointer;
    transition: right 0.25s cubic-bezier(0.75, 0.01, 0.35, 0.77);

    z-index: 1000002 !important;
  }

  .intro__popup > p::before {
    width: 0.475rem;
    height: 0.475rem;

    top: 0.5rem;
    left: calc(50% + 0.125rem);
  }

  .intro__popup > p.active {
    right: calc(50vw + 4vw + 1rem + 0.25rem);
  }

  .intro__popup > p.active::before {
    background: gray;
  }

  .intro__heading p {
    margin: 25vh 2rem 0 0;

    justify-self: end;
  }

  .intro__link {
    justify-content: start;
    position: fixed;

    top: 0;

    transform: translateY(-50%);
    width: calc(50vw + 4vw + 1rem + 0.25rem);
    right: calc(-50vw - 4vw - 1rem - 0.5rem);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    gap: 0.25rem;
    transition: right 0.25s cubic-bezier(0.75, 0.01, 0.35, 0.77);
  }

  .intro__link.active {
    right: 0;
  }

  .intro__popup a {
    justify-content: space-around;
    height: 10rem;

    padding: 0.5rem 2vw;
  }

  .intro__popup img {
    max-width: initial;
    max-height: 6rem;
  }

  .intro__popup a > p {
    padding: 0.25rem 0 0;
  }

  .content {
    gap: 4vh;
  }

  .thumb-container {
    margin: 0 0 20vh;
  }

  .thumb-container .thumb-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  /* .thumb-container .thumb#lastet {
    grid-column: span 2;
  } */

  .thumb-container .thumb {
    margin-bottom: 0;
  }

  .thumb-container .thumb > p {
    width: 1.125rem;

    font-size: 0.625rem;
    line-height: 0.9;
    padding: 0.2rem 0.25rem 0.2rem 0.25rem;
  }

  .thumb-container .thumb > img {
    width: calc(100% - 1.125rem);
  }

  section.page-title img {
    max-height: 4rem;
    max-width: 87.5%;
  }

  .card__title.type-small {
    font-size: 0.875rem;

    padding-top: 0.625rem;
  }

  .members-wrapper h1 {
    text-align: center;
  }

  .members-wrapper ol {
    grid-template-columns: repeat(1, 1fr);
  }

  .members-wrapper h2 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .members-wrapper li {
    padding: 0.5rem 0.5rem 0.25rem;
  }

  .members-wrapper p,
  .members-wrapper a {
    font-size: 0.875rem;
  }

  .members-wrapper p {
    width: 20ch;
  }

  .members-wrapper a {
    font-size: 75%;
  }

  .members-wrapper img {
    width: 5rem;
  }
}

@media only screen and (min-width: 1820px) {
  .thumb-container .thumb-wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2.75rem;
  }
}
